<% @items.each do |item| %> 
	<h2><%= link_to item.title, item_path(item) %></h2> <!--  instead of item_path(item) we could just do item as a short cut. Also note we don't use @item since item is the current element in the list 
	we're accessing in the for loop -->
	<p><%= item.description %></p>
<% end %>